/* This is the style sheet. I am changing some of the colours of the page to show you how powerful css can be when styling your website and making it 
more appealing to the audience.*/

body {
  background: brown;
  text-align: center;
}
p {
  color: white;
}
h1 {
  color: blue;
}

a {
  background: #FFFFFF;
}

/*using id*/
#header {
  background: orange;
}

h2 {
  color: green;
}

/*using class*/
.h3style {
  color: yellow;
}

h4 {
  color: purple;
}

h5 {
  color: pink;
}

h6 {
  color: red;
}

ul {
  background: silver;
  color: brown;
}

ol {
  background: aqua;
  color: white;  
}
/*The table needed a little bit special attention as it was still aligned to the left of the page. margin: auto; corrected that problem though!*/
table {
  background: lime;
  color: darkblue;
  text-align: center;
  margin: auto;
  border-color: blue;
}

img {
  border: 5px solid green;
  height: 200px;
  width: 200px;
}

label {
  color: white;
}

#wrong1 {
  text-decoration: line-through;  
}